{% extends 'base.html.twig' %}

{% block title %}
  Inscription à la newsletter
{% endblock %}

{% block body %}
  <h1>Inscription newsletter</h1>

  <form action="/newsletter/register" method="post">
    <div>
      <label for="email">Email :</label>
      <input type="email" name="email" id="email" />
    </div>

    <div>
      <input type="submit" value="Inscription" />
    </div>
  </form>
{% endblock %}
