<nav>
  <ul>
    <li>
      <a href="/">Accueil</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/products/list">Produits</a>
    </li>
    <li>
      <a href="/newsletter/subscribe">Newsletter</a>
    </li>
  </ul>
</nav>
